---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExternalLink from "../components/ExternalLink.astro";
---

<BaseLayout>
  <h2>自作ツール</h2>
  <ul>
    <li><a href="/json">JSON整形</a></li>
  </ul>
  <h2>管理者</h2>
  <ul>
    <li><ExternalLink url="https://github.com/h6ak" text="GitHub" /></li>
  </ul>
</BaseLayout>
